name: Build APK

on:
  workflow_dispatch:
    inputs:
      user_id:
        description: "User ID"
        required: true
        type: string
      branch:
        description: "Branch to build from"
        required: true
        type: string
        default: "master"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Print Availability Secrets
        run: |
          echo "Available secrets:"
          echo "KEY_BASE64: ${{ secrets.KEY_BASE64 != '' && '✓' || '✗' }}"
          echo "SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS != '' && '✓' || '✗' }}"
          echo "SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD != '' && '✓' || '✗' }}"
          echo "SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD != '' && '✓' || '✗' }}"

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEY_BASE64 }}" > $RUNNER_TEMP/androidaps.keystore.base64
          base64 -d $RUNNER_TEMP/androidaps.keystore.base64 > $RUNNER_TEMP/androidaps.keystore
          rm $RUNNER_TEMP/androidaps.keystore.base64
          echo "Keystore location: $RUNNER_TEMP/androidaps.keystore"
          ls -l $RUNNER_TEMP/androidaps.keystore

      - name: Keystore validation
        run: |
          keytool -list -v -keystore $RUNNER_TEMP/androidaps.keystore -storepass ${{ secrets.SIGNING_STORE_PASSWORD }} -alias ${{ secrets.SIGNING_KEY_ALIAS }} > $RUNNER_TEMP/keystore.txt
          cat $RUNNER_TEMP/keystore.txt

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "temurin"
          cache: gradle


      - name: Grant execute permission for gradlew
        run: chmod +x gradlew


      - name: Build  APK
        run: |
          ./gradlew assembleFullRelease --stacktrace \
            -Dorg.gradle.jvmargs="-Xmx8g -XX:+UseParallelGC -Xss1024m" \
            -Dkotlin.daemon.jvm.options="-Xmx2g" \
            -Dkotlin.compiler.execution.strategy="in-process" \
            -Dorg.gradle.daemon=true \
            -Dorg.gradle.workers.max=8 \
            -Dorg.gradle.caching=true \
            -Pandroid.injected.signing.store.file="$RUNNER_TEMP/androidaps.keystore" \
            -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }} \
            -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
            -Pandroid.injected.signing.key.password=${{ secrets.KEY_PASSWORD }}


      - name: Upload Artifact - Phone APK
        id: upload-artifact-phone
        uses: actions/upload-artifact@v4
        with:
          name: phone
          path: app/build/outputs/apk/full/release/app-full-release.apk

      - name: Upload Artifact - Watch APK
        id: upload-artifact-watch
        uses: actions/upload-artifact@v4
        with:
          name: smartwatch
          path: wear/build/outputs/apk/full/release/wear-full-release.apk
